@model KumoShopMVC.ViewModels.ProductDetailVM

@{
    ViewData["Title"] = "EditProduct";
}

<h1>Edit Product</h1>

<div class="page-content">
    <!-- Start Container Fluid -->
    <div class="container-xxl">

        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <!-- Hiển thị ảnh sản phẩm -->
                       @*  <img src="~/assets/images/product/@Model.ImagePath" alt="" class="img-fluid rounded bg-light"> *@

                        <div class="mt-3">
                            <!-- Hiển thị tên sản phẩm và danh mục -->
                            <h4>@Model.NameProduct <span class="fs-14 text-muted ms-1">(@Model.NameCategory)</span></h4>

                            <h5 class="text-dark fw-medium mt-3">Price : @Model.Price</h5>


                            <!-- Hiển thị kích cỡ sản phẩm -->
                            <div class="mt-3">
                                <h5 class="text-dark fw-medium">Size :</h5>
                                <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
                                    <input type="checkbox" class="btn-check" id="size-s">
                                    <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-s">S</label>

                                    <input type="checkbox" class="btn-check" id="size-m" checked>
                                    <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-m">M</label>

                                    <input type="checkbox" class="btn-check" id="size-xl">
                                    <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-xl">XL</label>

                                    <input type="checkbox" class="btn-check" id="size-xxl">
                                    <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="size-xxl">XXL</label>
                                </div>
                            </div>

                            <!-- Hiển thị màu sắc -->
                            <div class="mt-3">
                                <h5 class="text-dark fw-medium">Colors :</h5>
                                <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
                                    <input type="checkbox" class="btn-check" id="color-dark">
                                    <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-dark">
                                        <i class="bx bxs-circle fs-18 text-dark"></i>
                                    </label>

                                    <input type="checkbox" class="btn-check" id="color-yellow">
                                    <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-yellow">
                                        <i class="bx bxs-circle fs-18 text-warning"></i>
                                    </label>

                                    <input type="checkbox" class="btn-check" id="color-white">
                                    <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-white">
                                        <i class="bx bxs-circle fs-18 text-white"></i>
                                    </label>

                                    <input type="checkbox" class="btn-check" id="color-red">
                                    <label class="btn btn-light avatar-sm rounded d-flex justify-content-center align-items-center" for="color-red">
                                        <i class="bx bxs-circle fs-18 text-danger"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Product Information</h4>
                    </div>
                    <div class="card-body"> 
                        <form asp-action="Edit" asp-controller="Admin" method="post">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="product-name" class="form-label">Product Name</label>
                                        <input type="text" id="product-name" class="form-control" name="NameProduct" value="@Model.NameProduct" placeholder="Items Name" />
                                        @Html.ValidationMessageFor(m => m.NameProduct, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="product-categories" class="form-label">Product Categories</label>
                                    <select class="form-control" id="product-categories" name="NameCategory">
                                        <option value="Fashion" >Fashion</option>
                                        <option value="Electronics" >Electronics</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="product-brand" class="form-label">Brand</label>
                                        <input type="text" id="product-brand" class="form-control" name="Brand" value="@Model.Brand" placeholder="Brand Name" />
                                        @Html.ValidationMessageFor(m => m.Brand, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                    
                                <div class="col-lg-4">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-control" id="gender" name="Gender">
                                        <option value="false">Men</option>
                                        <option value="true">Women</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Thông tin mô tả sản phẩm -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description</label>
                                        <textarea class="form-control" id="description" name="DescProduct" rows="7">@Model.DescProduct</textarea>
                                    </div>
                                </div>
                            </div>

                            <!--Thông tin giá-->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Pricing Details</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="product-price" class="form-label">Price</label>
                                        <input type="number" id="product-price" class="form-control" name="Price" value="@Model.Price" />
                                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="p-3 bg-light mb-3 rounded">
                                <div class="row justify-content-end g-2">
                                    <div class="col-lg-2">
                                        <button type="reset" class="btn btn-outline-secondary w-100">Reset</button>
                                    </div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn btn-primary w-100">Save</button>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="ProductId" value="@Model.ProductId" />

                        </form>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    <!-- End Container Fluid -->
</div>
