@model IEnumerable<KumoShopMVC.ViewModels.UserVM>
@{
    ViewData["Title"] = "ListUser";
}

<h1>ListUser</h1>


<div>
    <div class="page-content">

        <!-- Start Container Fluid -->
        <div class="container-xxl">

            <div class="mb-3">
                <a asp-controller="Admin" asp-action="UserCreate" class="btn btn-primary">Add User</a>
            </div>
            <div class="card overflow-hiddenCoupons">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table align-middle mb-0 table-hover table-centered">
                            <thead class="bg-light-subtle">
                                
                                <tr>
                                    <th>UserId</th>
                                    <th>Email</th>
                                    <th>FullName</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Avatar</th>
                                    <th>Create Date</th>
                                    <th>RoleName</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.UserId</td>
                                        <td>@user.Email</td>
                                        <td>@user.Fullname</td>
                                        <td>@user.Phone</td>
                                        <td>@user.Address</td>
                                        <td>@(user.Status == true ? "Active" : "Inactive")</td>
                                        <td></td>
                                        <td>@user.CreateDate</td>
                                        <td>@user.Namerole</td>

                                        <td>
                                            <a class="btn btn-warning btn-sm" asp-controller="Admin" asp-action="UserEdit" asp-route-id="@user.UserId">Edit</a>
                                            <form method="post" asp-controller="Admin" asp-action="DeleteUser" asp-route-userId="@user.UserId" onsubmit="return confirm('Are you sure you want to delete this user?');" style="display:inline;">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>


        </div>
        <!-- End Container Fluid -->
        <!-- ========== Footer Start ========== -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <script>document.write(new Date().getFullYear())</script> &copy; Larkon. Crafted by <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon> <a href="#" class="fw-bold footer-text" target="_blank">Techzaa</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ========== Footer End ========== -->

    </div>
    <!-- ==================================================== -->
    <!-- End Page Content -->
    <!-- ==================================================== -->

</div>

